<!DOCTYPE html>
<head></head>
<body>
    <h1>CALCULATOR</h1>
    <form method="POST" action="/calc">
        <h2>Enter the first number below:</h2>
        <input type="text" name="num1">
        <h2>Enter the second number below:</h2>
        <input type="text" name="num2">
        <h2>What would you like to do with these numbers?</h2>
        <select name="operand">        
            <option value="one">Add</option>
            <option value="two">Subtract</option>
            <option value="three">Multiply</option>
            <option value="four">Divide</option>
        </select>
        <input type="Submit">
    </form>
</body>
</html>